fastapi==0.114.2
uvicorn==0.30.6
langchain-text-splitters==0.3.0
langchain-community==0.3.0
langchain-openai==0.2.0
python-dotenv==1.0.1
langserve[all]==0.3.0
langchain-core==0.3.0
httpx==0.27.2
chromadb==0.5.5
